<h1><%= @artist.name %></h1>
<h3>Song List</h3>
<h4><%= @artist.songs.count %> song</h4>
<ul>
<% @artist.songs.each do |song|%>
   <li> <p><%= link_to song.title, song_path(song) %></p>
 <% end%>
 </ul>
